@font-face
{
    font-family: "Myriad Pro";
    src: url(./fonts/myriad-pro.otf);
}

@font-face
{
    font-family: "Caligna";
    src: url(./fonts/caligna.ttf);
}

:root
{
    --main-black: #1A1818;
    --main-white: #fff7ed;
    --dark-white: #e3cfb7;
    --dark-orange: #973b14;
    --medium-orange: #b64b1e;
    --light-orange: #e16d36;
    --title-font-size: 36px;
    --nav-button-font-size: 24px;
    --page-heading-font-size: 48px;
    --page-subhead-font-size: 28px;
    --page-caption-font-size: 24px;
    --footer-text-font-size: 20px;

    height: 100%;
}

body
{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1A1818;
    padding: 0;
    margin: 0 10%;
}

header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    margin: 12px 0;
}

h1.restaurant-name
{
    font-size: var(--title-font-size);
    font-family: "Myriad Pro";
    color: var(--light-orange);
    flex: 1 0 max-content;
}

nav
{
    height: 50px;
    display: block;
    flex: 1 1 auto;
}

ul.nav-list
{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: end;
    list-style: none;
    padding: 0;
    margin: 0;
}

li.nav-item
{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button.nav-button
{

    display: block;
    font-family: "Myriad Pro";
    font-size: var(--nav-button-font-size);
    color: var(--main-white);
    align-self: center;
    flex: 1 0 100%;
    border: none;
    background: none;
}

.selected button.nav-button
{
    color: var(--light-orange);
}

li:hover button.nav-button {
    color: var(--main-white)
}

li:hover
{
    background: radial-gradient(circle at center, var(--dark-orange) 0, transparent 60%);
}

.selected hr.selection-indicator
{
    visibility: unset;
}

hr.selection-indicator
{
    visibility: hidden;
    width: 100%;
    flex: 1 0 4px;
    background-color: var(--medium-orange);
    border: none;
    border-radius: 100vh;
    margin: 0;
    align-self: center;
}


hr.header-underline, hr.footer-overline
{
    height: 2px;
    background-color: var(--main-white);
    border: none;
    margin: 0;
}

button.action-button
{
    font-size: larger;
    padding: 8px 16px;
    border: none;
    font-family: "Myriad Pro";
    border-radius: 100vh;
}

button.action-button.primary
{
    background-color: var(--medium-orange);
    color: var(--main-white);
}

button.action-button.secondary
{
    background-color: var(--main-white);
    color: var(--main-black);
}

button.action-button.primary:hover
{
    background-color: var(--dark-orange);
}

button.action-button.secondary:hover
{
    background-color: var(--dark-white);
}


div.content > p
{
    padding: 0;
    margin: 0;
}

div.content
{
    flex: 1 0 auto;
}

p.footer-quote {
    color: var(--main-white);
    font-family: "Myriad Pro";
    font-size: var(--footer-text-font-size);
}